@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Regarn-Light';
  src: url('/fonts/Regarn-Light.ttf');
}



body {
    background: #2B1F2D;
    font-family: 'Regarn-Light';
}